@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  transition: background 0.5s;
}

nav ul a:hover {
  background-color: #263238;
  transition: background 0.5s;
}

nav ul a:focus {
  background-color: #263238;
}

p {
  line-height: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: justify;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax-container:not(#index-banner) {
  border-top: 25px solid;
  border-bottom: 25px solid;
  border-color: #191919;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*MINE*/

.navBlue {
  background-color: #191919;
}

.navFixedTop {
  position: fixed;
  width: 100%;
  z-index: 9999;  
  top: 0;
  padding-bottom: 4.5rem;
}

li a{
  color: white;
}

.btn-large img {
  width: inherit;
}  

.btn-floating:not(.btn-large) img {
  width: 27px;
  margin-right: 4.7px;
  margin-top: 4px;
}  

#red {
  background-color: red;
}

.red {
    background-color: #CC0E00 !important;
}

.blue {
  background-color: #001FCC !important;
}

.green {
  background-color: #4dc036 !important;
}

#greenAndro {
  color: #98CB00;
  font-size: 25px;
  background-color: white;
}

.star {
  color: #3B7D9E;
}


#avatar {
  width: 200px;
}

.lobster {
  font-family: "Lobster", cursive;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

#afterNav {
  width: 90%;
  padding-left: 5%;
  background-color: #1C2126;
  /*background-color: #263238 ; BLEU-GRIS*/
 /* background-color: #2A6CA7; BLEU*/
}

#afterNav h2, #white {
  color: white;
}

body {
  /*background-color: #2A6CA7; BLEU*/
  /*background-color: #263238 ; BLEU-GRIS*/
  background-color: #1C2126;
}

.littleIcon {
  width: 40px;
  padding-top: 5px;
}

#css3 {
  width: 47px;
}

.competences {
  text-align: center;
  color: white;
}

#vertical-container {
  background-image: url(../img/background_it_2-blur.jpeg);
  background-attachment: fixed;
}

#vertical-container h2 {
  color: white;
  padding-left: 5%;
}

.competences-petite-image {
  width: 40px;
  position: absolute;
  overflow: hidden;
  display: inline-block;
  margin-left: -12px;
  margin-top: 2px;
}

.competences-petite-image ~ .title {
  padding-left: 35px;
}

.collapsible-header {
  line-height: 4em !important;
}

#first-collapsible {
  border-radius: 4px 4px 0 0;
}

#last-collapsible {
  border-radius: 0 0 4px 4px;
}

.collapsible-body {
  background-color: white
}

.collapsible-body  p {
  font-size: 16px;
}

p strong {
  font-weight: bolder;
}

#me-contacter {
  width: 50%;
  margin-left: 25%;
}

#ul-contact {
  margin-top: 4em; 
}

.icones {
  left: 4%;
  position: absolute;
}

.petite-icone {
  left: 3%;
  position: absolute;
  width: 40px;
}