@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=ubuntu:300);

body {
	background-color: #eceff1; 
	/*rgb(71, 91, 177);*/
	position: relative;
}

h1.h1-big {
	font-size: 62px;
}
h2.h2-big {
	font-size: 47px;
}
p.p-big {
	font-size: 20px;
}
dl{
	margin-left: 0 !important
}
.dl-horizontal dd:before,
.dl-horizontal dd:after {
	display: table;
  	content: " ";
}
.dl-horizontal dd:after{
	clear: both;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
#header {
	background-image: url(../img/keyboard.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 1080px;
}
#presentation {
	padding-top: 35%
}
.white {
	color: #fff;
}
.lobster {
	font-family: "Lobster", cursive;
}
.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}
.fixed {
	padding-top: 100px;
}
#apropos, #experience, #competences, #contact{
	min-height: 600px;
}
.p-big{
	padding-top: 15%
}
/*#apropos{
	background-color: rgb(71, 91, 177)
}*/
#experience{
	background-image: url(../img/images.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	box-shadow:2px 2px 10px black inset;
	-moz-box-shadow:2px 2px 10px black inset;
	-webkit-box-shadow:2px 2px 10px black inset;
}
.cd-timeline-img.left{
	background: #1056AC;
}
.cd-timeline-img.right{
	background: #F55700;
}
.lang{
	width: 33px;
	padding-top: 8px;
}
#en{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.network img{
	width: 64px;
}
.transition{
	height: 600px;
	background-image: url(../img/bureau.jpg);
	background-attachment: fixed;
	box-shadow:2px 2px 10px black inset;
	-moz-box-shadow:2px 2px 10px black inset;
	-webkit-box-shadow:2px 2px 10px black inset;
}