p {
	font-size: 40px;
}

div:not(#navbar) {
	width: 50%;
}

#navigation{ background: #777777; height: 50px; }

.fixNavigation{ z-index: 9999; position: fixed; top: 0; /* Mise en forme */ width: 900px; /* <-- Largeur de votre site */ }